@font-face {
    font-family: font1;
    src: url(/font/Dream-Avenue.ttf);
}
@font-face {
    font-family: font2;
    src: url();
}
:root{
    --color1-color: #294574;
    --color2-color: #ffffff;
    --color3-color: #d4c3bb;
}
header{
    opacity: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: var(--color1-color);
    width: 100%;
    height: 100px;
    margin: 0;
    flex-direction: row;
}
.cont-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
}
.logo-cont-header{

}
.logo-header{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}
.container-nav-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 1rem;
}
.botoes-nav{
    border: none;
    color: var(--color2-color);
    font-family: font1;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    transition: 500ms;
}
.botoes-nav:hover{
    translate: 0px -10px;
    cursor: pointer;
    border-bottom: 2px solid var(--color2-color);
}


.cont-redes-header{
    display: flex;
    gap: 50px;
}
.icons-redes-cont-header{
    width: 22px;
    filter:invert();
}
.icons-redes-cont-header:hover{
    scale: 1.2;
    cursor: pointer;
}