body{
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    margin: 0;
}
header{
    opacity: 100%;
    display: flex;
    justify-content: end;
    align-items:center;
    background-image: url("/img/FUNDO2.png");
    width: 100%;
    height: 100px;
    gap: 3rem;
    margin: 0;
}
.logo-header{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50% 0%);
}
.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 1rem;
}
.botoes-nav{
    border: none;
    color: #294574;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    transition: 500ms;
}
.botoes-nav:hover{
    translate: 0px -10px;
    cursor: pointer;
    border-bottom: 2px solid #294574;
}
/* .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
} */
.section1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/img/FUNDO.png");
    background-size: cover;
    padding-bottom: 4rem;    
}
.container-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-section1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/img/COR_AMADERADO.webp");
    border-radius: 30px;
    margin: 2rem;
    width: 60%;
}
.card-section1 h1{
    font-size: 3vw;
    border-bottom: 0.5rem solid ;
    padding-inline: 2rem;
}
.texto-section1{
    margin-inline: 1rem;
    font-weight: bold;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.texto-section1 p{
    text-align: center;
    margin: 0;
}
.logo-wpp{
    width: 4rem;
}
.card-button{
    display: flex;
    background: #29A71A;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
}
.button-card{
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.fotoDuda-section1{
    width: 30%;
    height: 20%;
    cursor: pointer;
    margin: 20px;
    filter: drop-shadow(30px 0px 20px);
    filter: contrast(1.2);
}
.section2{
    padding-top: 1rem;
    background-image: url("/img/marmore\ claro.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.container-ambientes{  
    padding-top: 1rem;  
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 100%;
    height: 400px;
}
.ambiente{
    width: 600px; 
    height: 400px;
    margin: 10px;
    transition: 0.5s;
    object-fit: contain;
}
.ambiente-low:hover{
    width: 600px; 
    height: 400px;
}
.ambiente-low{
    width: 300px; 
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;    
}
.planos{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}
.card{
    background-image: url("/img/COR_AMADERADO.webp");
    width: 300px;
    height: 580px;
    border-radius: 35px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 30px;
    padding: auto;
    transition: 500ms;
}
.card:hover{
    scale: 1.1;
}
.card h1{
    font-size: 40px;
}
.card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    height: 152px;
}
.card h6{
    font-size: 15px;
    text-align: center;
}
.itens{
    display: flex;
    font-display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    width: 270px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.botoes-itens{
    background-color: #FEFFFD;
    padding: 5px;
    border-radius: 5px;
}
/* .container-footer{
    padding-top: 2rem;
} */
.copy-footer{
    background-image: url("/img/COR_AMADERADO.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.copy-footer p{
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    border-bottom: solid 1px var(--primary-color);
    padding-inline: 10rem;
    
}
.links-footer{
    background: var(--details-color);
    padding-top:1rem ;
    padding-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.link-footer{
    font-family: var(--font-family);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}