body{
    font-family: "Poppins";
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    margin: 0;
}
header{
    opacity: 100%;
    display: flex;
    justify-content: end;
    align-items:center;
    background-image: url("/img/FUNDO2.png");
    width: 100%;
    height: 100px;
    gap: 3rem;
    margin: 0;
}
.logo-header{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50% 0%);
}
.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 1rem;
}
.botoes-nav{
    border: none;
    color: #294574;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: transparent;
    transition: 500ms;
}
.botoes-nav:hover{
    translate: 0px -10px;
    cursor: pointer;
    border-bottom: 2px solid #294574;
}
/* .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
} */
.section1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/img/FUNDO.png");
    background-size: cover;
    padding-bottom: 4rem;    
}
.container-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-section1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/img/COR_AMADERADO.webp");
    border-radius: 30px;
    margin: 2rem;
    width: 60%;
}
.card-section1 h1{
    font-size: 3vw;
    border-bottom: 3px solid ;
    padding-inline: 2rem;
}
.texto-section1{
    margin-inline: 1rem;
    font-weight: bold;
    font-size: 1.8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.texto-section1 p{
    text-align: center;
    margin: 0;
}
.logo-wpp{
    width: 4rem;
    height: 4rem;
}
.card-button{
    display: flex;
    background: #29A71A;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    align-items: center;
}
.button-card{
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.fotoDuda-section1{
    width: 30%;
    height: 20%;
    cursor: pointer;
    margin: 20px;
    filter: drop-shadow(30px 0px 20px);
    filter: contrast(1.2);
}
.section2{
    padding-top: 1rem;
    background-image: url("/img/marmore\ claro.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.container-ambientes{  
    padding-top: 1rem;  
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 400px;
}
.ambiente{
    width: 600px; 
    height: 400px;
    margin: 10px;
    transition: 0.5s;
    object-fit: contain;
}
.ambiente-low:hover{
    width: 600px; 
    height: 400px;
}
.ambiente-low{
    margin: 10px;
    width: 300px; 
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;  
    flex-wrap: wrap;  
}
.planos{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    width: 100%;

}
.card{
    background-image: url("/img/COR_AMADERADO.webp");
    width: 300px;
    height: 650px;
    border-radius: 35px;
    display: flex;
    flex-direction:column;
    align-items: center;
    transition: 500ms;
}
.card:hover{
    scale: 1.05;
}
.card h1{
    font-size: 40px;
}
.card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    height: 152px;
}
.card h6{
    font-size: 15px;
    text-align: center;
}
.itens{
    display: flex;
    font-display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.botoes-itens{
    background-color: #FEFFFD;
    padding: 5px;
    border-radius: 5px;
}
/* .container-footer{
    padding-top: 2rem;
} */
.copy-footer{
    background-image: url("/img/COR_AMADERADO.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.copy-footer p{
    font-family: "Poppins";
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    border-bottom: solid 1px var(--primary-color);
    padding-inline: 10rem;
    
}
.links-footer{
    background: var(--details-color);
    padding-top:1rem ;
    padding-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.link-footer{
    font-family: "Poppins";
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 0px){
    .logo-header{
        left: 5%;
    }
    .botoes-nav{
        font-size: 0.7rem;
    }
    .container-section1{
        flex-direction: column;
    }
    .card-section1{
        width: 90%;
    }
    .card-section1 h1{
        font-size: 5vw;
    }
    .texto-section1{
        font-size: 3.5vw;
    }
    .card-button{
        border-radius: 1rem;
        padding: 0.2rem;
    }
    .logo-wpp{
        width: 2em;
        height: 2rem;
    }
    .button-card{
        font-size: 1rem;
    }
    .fotoDuda-section1{
        width: 90%;
        height: 20%; 
    }
    /* section 2 */
    .container-ambientes{
        display: none;
    }
    .planos{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .card{
        margin: auto;
    }
    .card h1{
        font-size: 7vw;
    }
    .card h3{
        font-size: 5vw;
    }
    .card h6{
        font-size: 5vw;
    }
    .itens{
        font-size: 3vw; 
    }
}
@media (min-width: 768px){
    .logo-header{
        left: 5%;
    }
    .botoes-nav{
        font-size: 1.2rem;
    }
    .container-section1{
        flex-direction: column;
    }
    .card-section1{
        width: 90%;
    }
    .card-section1 h1{
        font-size: 3.5vw;
    }
    .texto-section1{
        font-size: 2.5vw;
    }
    .card-button{
        border-radius: 1rem;
        padding: 0.2rem;
    }
    .logo-wpp{
        width: 2em;
        height: 2rem;
    }
    .button-card{
        font-size: 1rem;
    }
    .fotoDuda-section1{
        width: 50%;
        height: 20%; 
    }
    /* section 2 */
    .container-ambientes{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 15rem;
    }
    .ambiente{
        width: 500px ;
        height: 400px;
    }
    .ambiente-low{
        width: 250px; 
        height: 250px;
    }
    .ambiente-low:hover{
        width: 400px ;
        height: 400px;
    }
    .planos{
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
    .card{
        margin: 2px;
        width: 30%;
        height: 600px;
    }
    .card h1{
        font-size: 3vw;
    }
    .card h3{
        font-size: 2vw;
    }
    .card h6{
        font-size: 1.5vw;
    }
    .itens{
        font-size: 1.2vw; 
        margin: 5px;
    }
}

@media (min-width: 1024px){
    .logo-header{
        left: 5%;
    }
    .botoes-nav{
        font-size: 1.5rem;
    }
    .container-section1{
        flex-direction: row;
    }
    .card-section1{
        width: 90%;
    }
    .card-section1 h1{
        font-size: 3.5vw;
    }
    .texto-section1{
        font-size: 2vw;
    }
    .card-button{
        border-radius: 1rem;
        padding: 0.2rem;
    }
    .logo-wpp{
        width: 2em;
        height: 2rem;
    }
    .button-card{
        font-size: 1rem;
    }
    .fotoDuda-section1{
        width: 35%;
        height: 20%; 
    }
    /* section 2 */
    .container-ambientes{
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 15rem;
    }
    .ambiente{
        width: 600px ;
        height: 400px;
    }
    .ambiente-low{
        width: 250px; 
        height: 250px;
    }
    .ambiente-low:hover{
        width: 600px ;
        height: 400px;
    }
    .planos{
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
    .card{
        margin: 2px;
        width: 30%;
        height: 580px;
    }
    .card h1{
        font-size: 3vw;
    }
    .card h3{
        font-size: 1.5vw;
    }
    .card h6{
        font-size: 1.3vw;
    }
    .itens{
        font-size: 1vw; 
        margin: 5px;
    }
}
