@font-face {
    font-family: font1;
    src: url(/font/Dream-Avenue.ttf);
}
@font-face {
    font-family: font2;
    src: url();
}
:root{
    --color1-color: #294574;
    --color2-color: #ffffff;
    --color3-color: #d4c3bb;
}
body{
    font-family: font1;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    margin: 0;
}
#home-header{
    border-bottom: 2px solid var(--color2-color);
    translate: 0 -10px;
}
/* .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
} */
.section1{
    background: var(--color3-color);
}
.container-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundo_home{
    margin-top: 0;
    width: 100%;
    filter: contrast(1.2);
}
.card-section1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background: var(--color1-color);
    border-radius: 30px;
    color: var(--color2-color);
    width: 80%;
    margin-top: 2rem;
}
.card-section1 h1{
    font-size: 1.7vw;
    padding-inline: 2rem;
}
.texto-section1{
    margin-inline: 1rem;
    font-weight: bold;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.texto-section1 h1{
    text-align: center;
}
.texto-section1 p{
    text-align: center;
    margin: 0;
}
.logo-wpp{
    width: 4rem;
    height: 4rem;
}
.card-button{
    display: flex;
    background: #29A71A;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    align-items: center;
}
.button-card{
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.fotoDuda-section1{
    width: 30%;
    height: 20%;
    cursor: pointer;
    margin: 20px;
    filter: drop-shadow(30px 0px 20px);
    filter: contrast(1.2);
}
.section2{
    padding-top: 1rem;
    background: var(--color3-color);
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.container-ambientes{  
    padding-top: 1rem;  
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
}
.ambiente{
    width: 650px; 
    height: 650px;
    margin: 10px;
    transition: 0.5s;
    object-fit: contain;
}
.ambiente-low:hover{
    width: 650px; 
    height: 650px;
}
.ambiente-low{
    margin: 10px;
    width: 400px; 
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;  
    flex-wrap: wrap;  
}

