@font-face {
    font-family: font1;
    src: url(/font/Dream-Avenue.ttf);
}
@font-face {
    font-family: font2;
    src: url();
}
:root{
    --color1-color: #294574;
    --color2-color: #ffffff;
    --color3-color: #d4c3bb;
}
body{
    font-family: font1;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    margin: 0;
}
#home-header{
    border-bottom: 2px solid var(--color2-color);
}
/* .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
} */
.section1{
    background: var(--color3-color);
}
.container-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fundo_home{
    margin-top: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center -10rem;
    filter: contrast(1.2);
}
.card-section1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background: var(--color1-color);
    border-radius: 30px;
    color: var(--color2-color);
    width: 80%;
    margin-top: 2rem;
}
.card-section1 h1{
    font-size: 1.7vw;
    padding-inline: 2rem;
}
.texto-section1{
    margin-inline: 1rem;
    font-weight: bold;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.texto-section1 h1{
    text-align: center;
}
.texto-section1 p{
    text-align: center;
    margin: 0;
}
.logo-wpp{
    width: 4rem;
    height: 4rem;
}
.card-button{
    display: flex;
    background: #29A71A;
    margin: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    align-items: center;
}
.button-card{
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.fotoDuda-section1{
    width: 30%;
    height: 20%;
    cursor: pointer;
    margin: 20px;
    filter: drop-shadow(30px 0px 20px);
    filter: contrast(1.2);
}
.section2{
    padding-top: 1rem;
    background: var(--color3-color);
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.container-ambientes{  
    padding-top: 1rem;  
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
}
.ambiente{
    width: 650px; 
    height: 650px;
    margin: 10px;
    transition: 0.5s;
    object-fit: contain;
}
.ambiente-low:hover{
    width: 650px; 
    height: 650px;
}
.ambiente-low{
    margin: 10px;
    width: 400px; 
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;  
    flex-wrap: wrap;  
}
.cont-responsividade-header{
    display: none;
}
.cont-responsividade-header button{
    display: flex;
    flex-direction: column-reverse;
    background: none;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
}
.bar1,.bar2, .bar3{
    margin: 2px;
    position: absolute;
    width: 40px;
    height: 5px;
    background: var(--color2-color);
    left: 0;
    top: 50%;
    transition: transform 0.3s;
}
.bar1{
    translate: 0px 15px;
}
.bar2{
    translate: 0px -15px;
}
#menu{
    top: 1.5rem;
}
@media(max-width:600px){
    .cont-nav-header, .icons-redes-cont-header{
        display: none;
    }
    .cont-header{
        justify-content: space-around;
    }
    .cont-responsividade-header{
        background: var(--color1-color);
        z-index: 1;
        display: flex;
        position: absolute;
        right: 0;
        padding-inline: 2rem;
        margin: 0;
        border-bottom-left-radius: 50px;
        top: -5px;
        height: max-content;
        gap: 7rem;
        transition: all 1s ease;
    }
    .cont-nav-responsividade-header{
        flex-direction: column;
        gap: 3rem;
        top: 0;
        margin-right: 2rem;
        display: none;
        margin-bottom: 10rem;
        margin-top: 3rem;
        transition: all 0.3s ease;
    }
    .cont-nav-responsividade-header button{
        font-size: 1.5rem;
    }
    .fundo_home{
        object-position: 45% -12rem;
    }
    .card-section1 h1{
        font-size: 2rem;
    }
    .texto-section1{
        font-size: 1.6rem;
    }
}
