.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: "Poppins";
}
.logo{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}

header{
    background-color: #294574;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    align-items:center
}
.btn {
    background-color: #294574; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #345691;
  }
.duda{
    width: 500px;
    height: 500px;
    cursor: pointer;
    margin: 20px;
}

.card1{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #345691;
    border-radius: 30px;
    margin: 50px;
    margin-right: 150px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.texto1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}
.somos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 10px;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    padding: 30px;
    margin: 30px;
}
.logobranca{
    width: 250px;
    height: 250px;
}
.input{
    border-radius:10px ;
    background-color: white;
    border-style: none;
    width: 200px;
    height: 30px;
}
