@font-face {
    font-family: font1;
    src: url(/font/Dream-Avenue.ttf);
}
@font-face {
    font-family: font2;
    src: url();
}
:root{
    --color1-color: #294574;
    --color2-color: #ffffff;
    --color3-color: #d4c3bb;
}
body{
    font-family: font1;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--color3-color);
}
main{
    margin: 0;
}
#sobre-header{
    border-bottom: 2px solid var(--color2-color);
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: min-content;
}
.card1{
    align-self: flex-start;
    background-color: #294474d5;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 35px;
    font-size: 1.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color2-color);
    width: 30%;
}
.card1 li{
    padding-bottom: 1rem;
}
.card2{
    align-self: flex-end;
    background-color: #294474d5;
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color2-color);
}
.card2 li{
    padding-bottom: 8px;
}
.fundo_sobre{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.section2{
    display: flex;
    flex-direction: row;
    background: var(--color3-color);
    margin-top: 1rem;
    margin-bottom: 0;
}
.cont-img-section2{
    width: 50%;
}
.img-section2{
    width: 50%;
}
.comotrabalho-section2 h1{
   font-size: 4vw;
   text-align: center;
   color: var(--color1-color);
}
.list-section2{
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #294574;
}
.list-section2 li{
    padding-bottom: 2rem;
}

