@font-face {
    font-family: font1;
    src: url(/font/Dream-Avenue.ttf);
}
@font-face {
    font-family: font2;
    src: url();
}
:root{
    --color1-color: #294574;
    --color2-color: #ffffff;
    --color3-color: #d4c3bb;
}
body{
    font-family: font1;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--color3-color);
}
main{
    margin: 0;
}
#sobre-header{
    border-bottom: 2px solid var(--color2-color);
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: min-content;
    position: relative;
}
.card1{
    align-self: flex-start;
    background-color: #294474d5;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 35px;
    font-size: 1.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color2-color);
    width: 30%;
    position: absolute;
    top: 0;
}
.card1 li{
    padding-bottom: 1rem;
}
.card2{
    align-self: flex-end;
    background-color: #294474d5;
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color2-color);
    position: absolute;
    bottom: 0;
}
.card2 li{
    padding-bottom: 8px;
}
.fundo_sobre{
    margin-top: 0;
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: contrast(1.2);
}
.section2{
    display: flex;
    flex-direction: row;
    background: var(--color3-color);
    margin-top: 1rem;
    margin-bottom: 0;
}
.cont-img-section2{
    width: 100%;
}
.img-section2{
    width: 100%;
    object-fit: cover;
    filter: contrast(1.2);
    object-position: -2rem center;
}
.comotrabalho-section2{
    width: 90%;
}
.comotrabalho-section2 h1{
   font-size: 4vw;
   text-align: center;
   color: var(--color1-color);
}
.list-section2{
    padding: 10px;
    margin: 10px;
    border-radius: 35px;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #294574;
}
.list-section2 li{
    padding-bottom: 2rem;
}
.cont-responsividade-header{
    display: none;
}
.cont-responsividade-header button{
    display: flex;
    flex-direction: column-reverse;
    background: none;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
}
.bar1,.bar2, .bar3{
    margin: 2px;
    position: absolute;
    width: 40px;
    height: 5px;
    background: var(--color2-color);
    left: 0;
    top: 50%;
    transition: transform 0.3s;
}
.bar1{
    translate: 0px 15px;
}
.bar2{
    translate: 0px -15px;
}
#menu{
    top: 1.5rem;
}
@media(max-width:600px){
    .cont-nav-header, .icons-redes-cont-header{
        display: none;
    }
    .cont-header{
        justify-content: space-around;
    }
    .cont-responsividade-header{
        background: var(--color1-color);
        z-index: 1;
        display: flex;
        position: absolute;
        right: 0;
        padding-inline: 2rem;
        margin: 0;
        border-bottom-left-radius: 50px;
        top: -5px;
        height: max-content;
        gap: 7rem;
        transition: all 1s ease;
    }
    .cont-nav-responsividade-header{
        flex-direction: column;
        gap: 3rem;
        top: 0;
        margin-right: 2rem;
        display: none;
        margin-bottom: 10rem;
        margin-top: 3rem;
        transition: all 0.3s ease;
    }
    .cont-nav-responsividade-header button{
        font-size: 1.5rem;
    }
    .fundo_sobre{
        width: 100%;
        object-position: -44rem center;
    }
    .card1{
        width: 60%;
    }
    .card1 li{
        font-size: 1rem;
    }
    .card2{
        width: 40%;
    }
    .list-card2-section2{
        margin: 0.5rem;
    }
    .list-card2-section2 li{
        font-size: 1rem;
    }
    .cont-img-section2{
        width: 100%;
    }
    .img-section2{
        width: 100%;
        height: 800px;
        border-radius: 15px;
    }
    .comotrabalho-section2 h1{
        font-size: 1.8rem;
    }
    .list-section2 li{
        font-size: 1rem;
    }
    .section2{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:800px){
    
}

