@import url("../../styles/main.css");

/* ===== HEADER ===== */
header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  background: hsla(35, 65%, 90%, 0.5); /* bege claro com leve transparência */
  backdrop-filter: blur(10px); /* efeito premium */

  padding: 18px 40px;
  border-radius: 22px;
  border: 4px solid var(--color1);

  z-index: 9999;

  max-width: 1150px;
  width: calc(100% - 40px);

  display: flex;
  justify-content: center;
  transition: transform 0.35s ease, opacity 0.35s ease;
}
header.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

header.hide {
  transform: translate(-50%, -140%);
  opacity: 0;
}

/* ===== CONTEÚDO INTERNO ===== */
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===== LOGO ===== */
.logo-area {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px; /* tamanho ideal */
  object-fit: contain;
}

/* ===== MENU ===== */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu a {
  color: var(--color2);
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.nav-menu a:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}