@import url("../../styles/main.css");

/* ===== HEADER ===== */
header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  background: hsla(35, 65%, 90%, 0.5);
  backdrop-filter: blur(10px);

  padding: 18px 40px;
  border-radius: 22px;
  border: 4px solid var(--color1);

  z-index: 9999;

  max-width: 1150px;
  width: calc(100% - 40px);

  display: flex;
  justify-content: center;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

header.show {
  transform: translate(-50%, 0);
  opacity: 1;
}

header.hide {
  transform: translate(-50%, -140%);
  opacity: 0;
}

/* ===== CONTEÚDO INTERNO ===== */
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===== LOGO ===== */
.logo-area {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  object-fit: contain;
}

/* ===== MENU DESKTOP ===== */
.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu a {
  color: var(--color2);
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.nav-menu a:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

/* ===== BOTÃO HAMBÚRGUER (MOBILE) ===== */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color2);
  padding: 5px;
  z-index: 99999;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  header {
    padding: 5px;
    top: 15px;
    left: 90%;
    width: max-content;
    justify-content: end;
  }
  .logo-area{
    display: none;
  }
  .logo {
    display: none;
  }
  /* Esconde menu padrão */
  .nav-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;

    background: hsla(35, 65%, 95%, 0.9);
    backdrop-filter: blur(10px);

    flex-direction: column;
    gap: 25px;

    padding: 25px 35px;
    border-radius: 18px;
    border: 3px solid var(--color1);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    animation: fadeMenu 0.25s ease;
  }

  /* Quando abrir */
  .nav-menu.open {
    display: flex;
  }

  /* Mostrar hambúrguer */
  .hamburger {
    display: block;
  }

  /* Tamanho dos links mobile */
  .nav-menu a {
    font-size: 1.2rem;
  }
}

/* ===== ANIMAÇÃO ===== */
@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
